<nav>
  <span class="home_nav"><%= link_to "Sign up",new_user_path %></span>
  <span class="home_nav"><%= link_to "Sign In", new_loggin_path %></span>
</nav>
<h1>Welcome To Game</h1>
<span class="home_nav"><%= link_to "Game Rules", rules_path %></span>
<br>
<%= render 'leaderboard' %>


