<nav>
  <span class="home_nav"><%= link_to "Sign up",new_user_path %></span>
  <sapn class="home_nav"><%= link_to "Sign In", new_loggin_path %></sapn>
</nav>
<h1>Welcome To Game</h1>
<br><br>
<%= link_to "Game Rules", rules_path %>
<br>
<%= render 'leaderboard' %>


