<div id = "home"><br>
<h1>Welcome To Game</h1>

<h3 class = "initial"> Create Account </h3>

<%= link_to "Sign up",new_user_path %>
<br> <br>
<h3 class = "initial"> Enter To Play </h3>
<%= link_to "Sign In", new_loggin_path %>
</div>
