<div class = "points">
	<br><br>
	<p>Every time you play the game , one number is displayed on your screen and you have options of some number ,you should select 2 to 3 numbers whose sum is equal to the given number, if you select correct numbers you got +50 points and -100 if you select the wrong numbers and its consider as game over, remember that you only have 1 minute to play this game,you have to give minimum 4 correct answers to winn the game , and if you winn you got _+500 points and you ranking is totaly depend upon your points. good luck</p>
<h2>Every correct answer = 50 points</h2>
<h2>Every wrong answer = -100 points</h2>
<h2>Win the game = 500 points</h2>
</div>
<%= link_to "Back To Menu",games_path %>