<h2>Rules</h2>
<i>Every time you play the game , one number is displayed on your screen and you have options of some number ,you should select 3 to 5 numbers whose sum is equal to the given number, if you select correct numbers you got +50 points and -100 if you select the wrong numbers and its consider as game over, remember that you only have 30 sec to play this game,you have to give minimum 4 correct answers to winn the game , and if you winn you got _+500 points and your ranking is totaly depend upon your points. good luck</i>
<br><br><br><br>
<table class="table">
  <tr class="head">
    <th>Conditions</th>
    <th>Points</th>
  </tr>
  <tr>
    <td>Every correct answer</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Every wrong answer</td>
    <td>-100</td>
  </tr>
  <tr>
    <td>Invite friend</td>
    <td>200</td>
  </tr>
</table>
<br><br>
<span class="home_nav"><%= link_to "BACK", users_path%></span>