<div id = "account_created">
	<br><br><br><br>
	<h2><%= flash[:alert] %></h2>
	<br><br>
	<h2><%= flash[:warning] %> </h2>
</div>
<span class="home_nav"><%= link_to "Back To The Home Page",users_path %></span>