<div id = "account_created">
	<br><br><br><br>
	<h2><%= flash[:alert] %></h2>
	<br><br>
	<h2><%= flash[:warning] %> </h2>
</div>
<span class="home_nav"><%= link_to "Back", users_path %></span>
<br><br><br>
<span class="home_nav"><%= link_to "Play game", new_loggin_path %><span>
