body{
	text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("modern.avif");
}

.points{
	color: springgreen;
	font-size: 200%;
	text-shadow: 2px 2px 2px black;
}

.initial{
font-size: 250%;
color: gray;
text-shadow: 2px 2px 2px red;
}

.signup_form{
 color: red;
 font-size: 180%;
 font-style: oblique;
 text-shadow: 2px 4px 3px black;
 }


.signin_form{
	font-size: 250%;
	color: red;
	font-style: oblique;
	text-shadow: 2px 4px 3px black;
}

h1{
	color: red;
	font-style: italic;
	font-size: 500%;	
	text-shadow: 6px 6px 6px black ;
}

a{
	font-size: 150%;
	color: white;
	text-shadow: 3px 5px 3px black;
	font-size: 200%;
}

a:visited{
	font-size: 150%;
	color: yellow;
}

a:active{
	font-size: 150%;
	color: darkolivegreen;
}

a:hover{
	font-size: 150%;
	color: lightgray;
}
input{
	/*background-color: red;
	width: 10%;
	height: 100%;*/
  background-color: gray;
  border: 100%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 70px;
}

#account_created{
	color: yellow;
	font-size: 200%;
	text-shadow: 3px,3px,3px yellow;
	font-style: revert-layer;
}
.errors_display{
	text-decoration-line: underline;
  text-decoration-color: lightgoldenrodyellow;
	color: red;
	font-size: 150%;
	text-shadow: 2px 2px 2px black;

}

.mail{
	font-size: 100%;
	color: yellow;
	text-shadow: 2px 2px 2px black;
}
.heading_mail{
	font-style: italic;
	color: yellow;
	font-size: 250%;
	text-shadow: 2px 2px 2px black;
}

.alert{
	color: red;
	font-size: 150%;
	text-shadow: 2px 2px 2px black;
}

#random_number{
	text-decoration-line: underline;
  text-decoration-color: lightgray;
	color: red;
	font-size: 900%;
	text-shadow: 2px 2px 2px yellow;
}

.button{
  background-color: gray;
  border: 100%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 70px;
}
